* {padding: 0px;margin: 0px;}

body {background-color: #fff;color: #000000;font: 400 16px/24px Helvetica Neue, "Open Sans", sans-serif;letter-spacing: 0.1px;}

h1 {font: bold 40px/48px Helvetica Neue, "Open Sans", sans-serif;letter-spacing: -0.5px;}

h3 {font: bold 24px/32px Helvetica Neue, "Open Sans", sans-serif;letter-spacing: -0.1px;}

h4 {font: 500 18px/28px Helvetica Neue, "Open Sans", sans-serif;}

ul{padding-left: 16px;}
ul li{padding-bottom: 8px;}
ul li:last-child{padding-bottom: 0px;}

a{color: #0065F2;text-decoration: none;}
a:hover{color: #05144e;transition: all .5s;}

.ff-normal-18{font: 500 18px/28px Helvetica Neue, "Open Sans", sans-serif;}
.ff-bold-56{font: bold 56px/60px Helvetica Neue, "Open Sans", sans-serif;letter-spacing: -1px;}

.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
@media (min-width:576px){.container{max-width:540px}}
@media (min-width:768px){.container{max-width:720px}}
@media (min-width:992px){.container{max-width:960px}}
@media (min-width:1200px){.container{max-width:1110px}}

.d-flex{display: flex;}
.justify-content-center{justify-content: center;}
.align-items-center{align-items: center;}
.text-center{text-align: center;}
.bg-blue{background: rgba(0, 101, 242, 0.12);}

.pad-bot-174{padding-bottom: 174px;}
.pad-top-60{padding-top: 60px;}
.pad-bot-60{padding-bottom: 60px;}
.pad-top-40{padding-top: 40px;}
.pad-bot-40{padding-bottom: 40px;}
.pad-bot-24{padding-bottom: 24px;}
.pad-bot-43{padding-bottom: 43px;}

.bg-blue .bx-block{max-width: 540px;padding: 60px 0px;}
.bg-blue .bx-block h1{padding-bottom: 24px;}
.bx-imgs{padding-top: 40px;}
.bx-imgs img{padding-right: 35px;}
.bx-imgs img:last-child{padding-right: 0px;}
.bx-video{width:555px;height:380px;background: center / cover no-repeat url("../img/video.svg");}
.col-6{max-width: 50%;width: 100%;}
.col-6 .bx-block{max-width: 445px;}

@media (max-width: 1200px) {
	.bx-video{width:100%;}
}
@media (max-width: 992px) {
	.d-flex.mob-block{flex-wrap: wrap;}
	.col-6{max-width: 100%;}
	.col-6 .bx-block{margin-bottom: 40px;}
	h1 {font-size: 32px;line-height: 36px;}
	h3 {font-size: 20px;line-height: 24px;}
	.ff-bold-56{font-size: 36px;line-height: 40px;}
	.bg-blue .bx-block {max-width: 100%;}
	.pad-bot-174 {padding-bottom: 64px;}
	.pad-bot-60 {padding-bottom: 20px;}
	.bx-imgs{flex-wrap: wrap;justify-content: space-around;}
	.bx-imgs img {padding-bottom: 20px;}
}